@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,700;1,500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Prompt";
}
p {
	margin-bottom: 0 !important;
}
.navbar-theme {
	background-color: transparent;
	z-index: 100;
	transition: all 0.5s;
}
.navbar-solid {
	background-color: #161616;
}
.dropdown-menu {
	background-color: #161616 !important;
	color: white !important;
}
.dropdown-menu a {
	color: white;
}
.dropdown-item {
	transition: all 0.5s;
}
#welcome-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#welcome-img {
	background-image: url("../img/welcome-img.jpg");
	background-size: cover;
	position: relative;
	height: 100vh;
	filter: brightness(0.3);
	background-position: center;
}
#welcome-title {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
#welcome-title > h1 {
	font-size: 32px;
	font-weight: 700;
}
#below {
	padding: 8px;
	width: auto;
	font-size: 14px;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	transition: all 0.5s;
}
#below > span {
	margin-left: 5px;
}
#below:hover {
	background-color: white;
	color: #161616;
}
.content-container {
	padding: 20px;
	overflow: auto;
}
.card {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.content {
	float: left;
	width: 73%;
	margin-top: 50px;
}
.content-full {
	margin-top: 20px;
}
.content-center {
	width: 50%;
	margin: 20px auto;
}
.content-half {
	width: 50%;
	margin: auto;
}
.aside {
	float: right;
	width: 25%;
	margin-top: 50px;
	margin-left: 10px;
	text-align: center;
}
#profile-brebes {
	scroll-margin: 80px;
}
#logo-brebes {
	max-width: 60%;
}
#informasi-lainnya {
	border-collapse: separate;
	border-spacing: 20px 10px;
	margin: auto;
	font-size: 14px;
}
#informasi-lainnya th {
	text-align: left;
}
#informasi-lainnya td {
	text-align: right;
}
.table-title {
	text-align: center;
	width: 50%;
	margin: 0px auto 40px;
}
.table-title h4 {
	font-weight: 700;
}
.chart-content {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
.chart-content canvas {
	padding: 20px;
}
.about-me-content {
	overflow: hidden;
	padding: 20px;
}
.img-container {
	text-align: center;
	width: 40%;
	float: left;
}
.about-info-container {
	width: 60%;
	float: right;
}
.text-justify {
	text-align: justify;
	text-justify: inter-word;
}
.logo-rn {
	max-width: 150px;
}
.social-media-icon {
	color: #161616;
	transition: all 0.5s;
}
.social-media-icon:hover {
	color: #7e1616;
}
footer {
	background-color: #161616;
	color: white;
	padding: 20px;
	text-align: right;
}
footer p {
	font-size: 14px;
}
footer a {
	font-weight: 700;
	text-decoration: none;
	color: white;
}
footer a:hover {
	text-decoration: underline;
	color: white;
}

/* Media Query */

@media screen and (max-width: 800px) {
	.content,
	.content-center,
	.content-half,
	.aside {
		width: 100%;
	}
	#welcome-title h1 {
		font-size: 24px;
	}
	#logo-brebes {
		max-width: 30%;
	}
	.content {
		margin-top: 20px;
	}
}

@media screen and (max-width: 500px) {
	.content,
	.content-center,
	.content-half,
	.aside {
		width: 100%;
	}
	.chart-content {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
	}
	.table-title {
		width: 100%;
	}
	.img-container,
	.about-info-container {
		width: 100%;
		float: none;
	}
	.about-info-container h3 {
		text-align: center;
		margin-top: 20px;
	}
	.social-media {
		text-align: center;
	}
}
